@import '~bootstrap/scss/bootstrap';
header{
    height: 60px;
}

aside{
    width: 230px;
    height: 100%;
    li{
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}

.mb-main-wrapper{
    height: calc(100vh - 60px);
}

.ck-editor__editable {
    min-height: 300px;
}
